.container {
  display: flex;
  flex-direction: column;
  border: solid 1px lightgrey;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  max-width: 150px;
  min-height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image {
  max-height: 250px;
  max-width: 150px;
  object-fit: none;
}

.description {
  font-size: 12px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
